@import "fonts";

@import "animations";
@import "components";


body {
  margin: 0;
  overflow: hidden;
  font-family: 'ProximaNova-Regular', sans-serif;
  font-size: 16px;
  color: #637273;
}

a {
  color: #26C6DA;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

.hide {
  display: none;
}

header #logo {
  height: 24px;
  width: 100px;
  background: url('../images/vtrine.svg') no-repeat;
  margin: 0 0 0 32px;
  cursor: pointer;
}

header {
  background: white;
}

header .loading {
  content: attr(data-after);
  width: 0%;
  height: 4px;
  background: #26C6DA;
  display: block;
  position: absolute;
}

header .content {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .content .actions {
  display: flex;
  margin-right: 52px;
}

header .content .actions .help, header .content .actions .downloads {
  cursor: pointer;
  position: relative;
}

header .content .actions .downloads {
  margin-left: 44px;
}

header .content .actions .downloads .full {
  height: 8px;
  width: 8px;
  background: #F04943;
  position: absolute;
  bottom: 0px;
  right: -4px;
  border-radius: 10px;
}

header .content .actions svg.help path {
  transform: translateY(-2px) translateX(-2px);
}

header .content .actions svg:hover path, .icon.selected {
  fill: #9AB3B3;
}

div.container .image {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background: #F0F7F8 url('../images/test-image.jpg') no-repeat;
  background-position-y: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}

div.container .image.loading, div.container .image.loaded {
  position: absolute;
  transform: scale(1.1);
}

div.container .image.loading {
  filter: blur(25px);
}

div.container .image.loaded {
  filter: blur(0px);
  transition: 0.5s filter;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  color: #E7F1F3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .user, footer .credits {
  padding: 32px;
}

footer .user {
  display: flex;
  align-items: center;
}

footer .user .photo {
  height: 24px;
  width: 24px;
  background: url('../images/photo.png') no-repeat;
  border-radius: 15px;
}

footer .user .name {
  margin-left: 8px;
}

header .search .search-box {
  background: #F0F7F8;
  height: 32px;
  width: 480px;
  border-radius: 4px;
  display: flex;
}

header .search .search-box i {
  background: url(../images/search-grey.svg) no-repeat;
  background-size: cover;
  width: 14px;
  height: 12px;
  margin: 10px;
}

header .search .search-box input {
  background: none;
  border: none;
  width: 100%;
  height: 32px;
  margin-left: 8px;
  font-family: 'ProximaNova', sans-serif;
  font-size: 16px;
}

#save {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 100%;
}

#save .icon {
  background: url('../images/save.svg') no-repeat;
  background-size: 100%;
  height: 160px;
  width: 160px;
}

#on-boarding {
  color: #313E40;
  height: 400px;
  width: 400px;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

#on-boarding .image {
  height: 128px;
  width: 128px;
  background: #969696;
  border-radius: 65px;
  margin-top: 70px;
  color: #313E40;
}

#on-boarding .caption {
}

#on-boarding .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 65px;
  box-sizing: border-box;
}

#on-boarding .footer .next {
  color: #26C6DA;
  cursor: pointer;
}

#on-boarding .footer .nav ul {
  display: flex;
}

#on-boarding .footer .nav ul li {
  height: 8px;
  width: 8px;
  margin-left: 5px;
  border: 1px solid #313E40;
  border-radius: 10px;
  cursor: pointer;
}

#on-boarding .footer .nav ul li:first-child {
  background: #313E40;
}

#download {
  height: 330px;
  width: 304px;
  background: white;
  border-radius: 4px;
  position: fixed;
  top: 80px;
  right: 32px;
}

#download .header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
}

#download .header .title {
  padding-left: 15px;
  padding-top: 16px;
  font-weight: bold;
}

#download .header .clear {
  padding-right: 15px;
  padding-top: 21px;
  font-size: 12px;
  color: #26C6DA;
  cursor: pointer;
}

#download .images {
  height: 251px;
}

#download .images .content {
  height: 250px;
  overflow: scroll;
}

#download .images .content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#download .images .content ul li.image {
  width: 128px;
  height: 96px;
  cursor: pointer;
}

#download .images .content ul li.image:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
}

#download .images .content ul li.image:hover .remove, #download .images .content ul li.image:hover .download {
  display: block;
}

#download .images .content ul li.image:nth-child(even) {
  margin: 8px 16px 8px 8px;
}

#download .images .content ul li.image:nth-child(odd) {
  margin: 8px 8px 8px 16px;
}

#download .images .content ul li.image:nth-child(1), #download .images .content ul li.image:nth-child(2) {
  margin-top: 0;
}

#download .images .content ul li.image .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#download .images .content ul li.image .remove, #download .images .content ul li.image .download {
  background-size: cover;
  display: none;
  height: 20px;
  width: 20px;
}

#download .images .content ul li.image .remove {
  background: url('../images/trash.svg') no-repeat;
}

#download .images .content ul li.image .download {
  background: url('../images/download.svg') no-repeat;
  margin-left: 18px;
}

#download .footer {
  height: 28px;
  background: white;
  border-radius: 0 0 5px 5px;
  text-align: center;
}

#download .footer button {
  position: relative;
  bottom: 20px;
  width: 240px;
  height: 40px;
  background: #26C6DA;
  color: #E7F1F3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
}

#download .footer button:focus {
  outline: none;
}

#download .arrow {
  position: absolute;
  right: 22px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}